<div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper blue">
            <a [routerLink]="['']" id="logo-containet" class="brand-logo">Rails and Angular</a>
            <ul class="right hide-on-med-and-down">
                <li *ngIf="!tokenAuthService.userSignedIn()">
                    <a (click)="presentAuthDialog()">Login</a>
                </li>
                <li *ngIf="!tokenAuthService.userSignedIn()">
                    <a (click)="presentAuthDialog('register')">Register</a>
                </li>
                <li *ngIf="!tokenAuthService.userSignedIn()">
                    <a [routerLink]="['/profile']">Profile</a>
                </li>
                <li *ngIf="!tokenAuthService.userSignedIn()">
                    <a>Logout</a>
                </li>                
            </ul>
        </div>
    </nav>
</div>
<app-auth-dialog #authDialog></app-auth-dialog>